<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <%- include('partials/header.ejs') %>
    <h1>Dashboard</h1>
    <h2>Welcome, <%- currentUser.username %>!</h2> 

    <h3>Your Transactions:</h3>
    <ul>
        <% transactions.forEach(function(transaction) { %>
            <li>
                <strong>Description:</strong> <%- transaction.description %>, 
                <strong>Amount:</strong> $<%- transaction.amount %>,
                <strong>Date:</strong> <%- transaction.date.toDateString() %>, 
                <strong>Category:</strong> <%- transaction.category.name %> 
                <a href="/transactions/<%= transaction._id %>">View Details</a>
            </li>
        <% }); %>
    </ul>
    <a href="/transactions">View All Transactions</a>

    <a href="/transactions/new">Add New Transaction</a> 

    <%- include('partials/footer.ejs') %>
</body>
</html>


