<%- include('../partials/header') %>

<div class="container">
    <h1>Manage Categories</h1>
    <a href="/categories/new" class="button">Add New Category</a>

    <ul>
        <% categories.forEach(function(category) { %>
            <li>
                <%= category.name %>
                <!-- Link to Show Category -->
                <a href="/categories/<%= category._id %>" class="button">View</a>
                <!-- Link to Edit Category -->
                <a href="/categories/<%= category._id %>/edit" class="button">Edit</a>
                <!-- Delete Button -->
                <form action="/categories/<%= category._id %>?_method=DELETE" method="post" style="display:inline;">
                    <button type="submit" class="button-danger">Delete</button>
                </form>
            </li>
        <% }); %>
    </ul>
</div>

<%- include('../partials/footer') %>
