<%- include('../partials/header') %>


  <li>
      <strong>Description:</strong> <%- transaction.description %>, 
      <strong>Amount:</strong> $<%- transaction.amount %>,
      <strong>Date:</strong> <%- transaction.date.toDateString() %>, 
      <strong>Category:</strong> <%- transaction.category.name %>
      
    
  </li>




<%- include('../partials/footer') %>